version: 2.1

orbs:
  airswap: airswap/assume-role@volatile
  aws-cli: airswap/aws-cli@volatile

references:
  working_directory: &working_directory ~/repo

  container_config: &container_config
    docker:
      - image: circleci/node:10
    working_directory: *working_directory

jobs:
  setup:
    <<: *container_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: yarn install and dependencies
          command: |
            yarn install
      - run:
          name: Solhint
          command: yarn hint
      - run:
          name: Eslint
          command: yarn lint:check
      - run:
          name: Prettier
          command: yarn pretty:check
      - run:
          name: Check Dependencies
          command: |
            sudo apt install python3-pip
            pip3 install -r requirements.txt
            python3 scripts/dependency_checker.py
      - run:
          name: Compile
          command: yarn compile
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: *working_directory
          paths: .

  swap_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/swap && yarn test

  light_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/light && yarn test

  indexer_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/indexer && yarn test

  balances_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/balances && yarn test

  delegate_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/delegate && yarn test

  validator_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/validator && yarn test

  transfers_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/transfers && yarn test

  types_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/types && yarn test

  wrapper_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/wrapper && yarn test

  locker_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/locker && yarn test

  pool_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            yarn ganache > /dev/null &
            cd source/pool && yarn test

  merkle_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            cd tools/merkle && yarn test

  metadata_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            cd tools/metadata && yarn test

  protocols_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            cd tools/protocols && yarn test

  utils_tests:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Run Tests
          command: |
            cd tools/utils && yarn test

  deploy:
    <<: *container_config
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Install NPM non-interactive
          command: sudo npm install -g npm-login-noninteractive
      - run:
          name: Set up the npm user
          command: npm-login-noninteractive
      - run:
          name: NPM publish tools
          command: |
            cd tools
            ### ADD FOLDERS HERE TO PROCESS ###
            for file in constants merkle metadata protocols utils test-utils
            do
              cd $file
              NPM_NAME=$(node -p "require('./package.json').name")
              NPM_VERSION=$(npm view $NPM_NAME version || :)
              NPM_BETA_VERSION=$(npm view $NPM_NAME dist-tags.beta || :)
              LOCAL_VERSION=$(node -p "require('./package.json').version")
              ### Check if the local version is beta, otherwise publish normally
              if [[ $LOCAL_VERSION == *"beta"* ]]; then
                if [[ $LOCAL_VERSION != $NPM_BETA_VERSION ]]; then
                  echo "Publishing package to NPM with 'beta' tag..."
                  npm publish --tag beta
                  npm access public $NPM_NAME
                fi
              else
                if [[ $LOCAL_VERSION != $NPM_VERSION ]]; then
                  echo "Publishing package to NPM with 'latest' tag..."
                  npm publish
                  npm access public $NPM_NAME
                fi
              fi
              cd ..
            done
      - run:
          name: NPM publish source
          command: |
            cd source
            ### ADD FOLDERS HERE TO PROCESS ###
            for file in indexer balances delegate swap light locker pool tokens transfers types validator wrapper
            do
              cd $file
              NPM_NAME=$(node -p "require('./package.json').name")
              NPM_VERSION=$(npm view $NPM_NAME version || :)
              NPM_BETA_VERSION=$(npm view $NPM_NAME dist-tags.beta || :)
              LOCAL_VERSION=$(node -p "require('./package.json').version")
              ### Check if the local version is beta, otherwise publish normally
              if [[ $LOCAL_VERSION == *"beta"* ]]; then
                if [[ $LOCAL_VERSION != $NPM_BETA_VERSION ]]; then
                  ### This is where we deploy the package to NPM
                  echo "Publishing package to NPM with 'beta' tag..."
                  npm publish --tag beta
                  npm access public $NPM_NAME
                fi
              else
                if [[ $LOCAL_VERSION != $NPM_VERSION ]]; then
                  ### This is where we deploy the package to NPM
                  echo "Publishing package to NPM with 'latest' tag..."
                  npm publish
                  npm access public $NPM_NAME
                fi
              fi
              cd ..
            done
      # Now we need to iterate over folders and deploy the folders that are listed
      # but only if the version changed

workflows:
  smart_contract:
    jobs:
      - setup:
          context: Development
      - swap_tests:
          context: Development
          requires:
            - setup
      - light_tests:
          context: Development
          requires:
            - setup
      - indexer_tests:
          context: Development
          requires:
            - setup
      - balances_tests:
          context: Development
          requires:
            - setup
      - delegate_tests:
          context: Development
          requires:
            - setup
      - validator_tests:
          context: Development
          requires:
            - setup
      - transfers_tests:
          context: Development
          requires:
            - setup
      - types_tests:
          context: Development
          requires:
            - setup
      - wrapper_tests:
          context: Development
          requires:
            - setup
      - locker_tests:
          context: Development
          requires:
            - setup
      - pool_tests:
          context: Development
          requires:
            - setup
      - merkle_tests:
          context: Development
          requires:
            - setup
      - metadata_tests:
          context: Development
          requires:
            - setup
      - protocols_tests:
          context: Development
          requires:
            - setup
      - utils_tests:
          context: Development
          requires:
            - setup
      - deploy:
          context: NPM_Publish
          requires:
            - swap_tests
            - light_tests
            - indexer_tests
            - balances_tests
            - delegate_tests
            - transfers_tests
            - types_tests
            - wrapper_tests
            - locker_tests
            - pool_tests
            - merkle_tests
            - metadata_tests
            - protocols_tests
            - utils_tests
          filters:
            branches:
              only:
                - master
