name: Publish Latest
on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "20.17.x"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"
      - name: Update npm
        run: npm install -g npm@latest
      - run: yarn install --immutable
      - run: npx lerna run compile --concurrency=1
      - run: npx lerna publish from-package --yes --loglevel verbose

